<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server</p>

<p *ngIf="!tasks"><em>Loading... Please refresh once the ASP.NET backend has started.</em></p>

<table *ngIf="tasks">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Is Completed?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.isCompleted }}</td>
        </tr>
    </tbody>
</table>
